/*wsui-table Start*/
.wsui-table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
}

.wsui-table th, .wsui-table td {
  text-align: left;
  border: 1px solid #e8e8e8;
  padding: 4px 10px;
}

.wsui-table th {
  background: #f7f7f7;
}

.wsui-table tr {
  transition: background 0.3s;
  cursor: default;
}

.wsui-table.is-hoverable tr:hover {
  background: #eaeaea;
}

/*wsui-table End*/
.test-wsui-table {
  border: 1px solid red;
}

.wsui-table {
  width: 60%;
  min-width: 320px;
  margin: 40px auto;
}
